// Style de la liste des produits
.items{
    color: #fff;
    margin-top: 30px;
    overflow: hidden;
    box-shadow: 0 0 8px 2px #a5a5a5;
    background-color: $primary-color;
    img{
        width: 100%;
        height: 100%;
        min-height: 220px;
        max-height: 500px;
        object-fit: cover;
    }
    &-name-price{
        display: flex;
        align-items: center;
        justify-content: space-between;
        h2{
            font-size: 1.5rem;
        }
    }
    &__price{
        font-weight: 500;
        font-size: 1.1rem;
    }
    &__text{

        padding: 0 25px 25px 25px;
    }
}

// Style d'un produit seul
.item{
    overflow: hidden;
    img{
        width: 100%;
        box-shadow: 0 1px 1px rgb(211, 211, 211);
    }
    &-name-price{
        display: flex;
        align-items: center;
        justify-content: space-between;
        h2{
            font-size: 1.5rem;
        }
    }
    &__price{
        font-weight: 500;
        font-size: 1.4rem;
    }
    &__infos{
        padding: 0 20px 15px;
    }
    &__description{
        margin-bottom: 15px;
    }
    #add-cart{
        i{
            font-size: 1.5rem;
        }
        padding: 8px 15px;
        background-color: $primary-color;
        color: #fff;
        text-align: center;
        cursor: pointer;
        font-weight: 500;
        margin-top: 15px;
    }
    .lens-choice label{
        font-weight: 500;
    }
    #qty-select{
        height: 60px;
        width: 5rem;
        font-size: 1.4rem;
        padding: 10px;
        border-color: rgb(197, 191, 189);
    }
    #lens-select{
        border-color:  rgb(197, 191, 189);
        height: 30px;
        padding: 0 5px;
        font-size: 1rem;
    }
}


// Style d'un produit dans le panier
#cart-heading{
    margin: 10px 0;
}

.cart-items{
    margin-bottom: 15px;
    border: 1px solid $primary-color;
    padding: 10px;
    &__product{
        a{
            display: flex;
        }
        img{
            width: 50%;
            max-width: 300px;
        }
        .product-name{
            font-size: 1.3rem;
            text-align: center;
            margin: 0 0 0 10px;
        }
    }
    &__text{
        margin: 10px 0;
        display: flex;
        justify-content: space-between;
        & > p{
            font-weight: 600;
        }
    }
    .delete-cart{
        i{
            font-size: 1.4rem;
        }
        padding: 8px;
        background-color: #e94646;
        color: #fff;
        margin: auto;
        text-align: center;
        cursor: pointer;
    }
}


@media screen and (min-width: 650px){
    // Style de la liste des produits -- Tablette
    #products{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .items{
        width: 49%;
    }
    h2{
        font-size: 1.3rem !important;
    }
}

@media screen and (min-width: 900px){
    // Style d'un seul produit -- Desktop
    .item{
        display: flex;
        &__img{
            padding: 20px;
            width: 75%;
        }
        &__infos{
            align-self: center;
        }
    }
}

@media screen and (min-width: 1000px){
    // Style de la liste du panier -- Desktop
    .main-cart{
        display: flex;
    }
    .cart-box{
        width: 70%;
    }
    .cart-items__text{
        font-size: 1.2rem;
    }
}
