#total-price-container{
    text-align: end;
    margin: 10px 10px 0;
    font-size: 1.1rem;
}

#total-price{
    font-weight: 600;
}

.form-hide{
    display: none;
}

.btn-container{
    margin: 25px 0;
}

#cart-validation-btn{
    background-color: $primary-color;
    color: #fff;
    font-weight: 600;
    font-size: 1.1rem;
    border: none;
    width: 100%;
    padding: 15px;
    height: auto;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    label{
        display: block;
        text-align: center;
        font-weight: 500;
        margin: 8px 0;
    }
    input{
        height: 28px;
        width: 250px;
        border: 1px solid rgb(180, 176, 176);
        font-size: 1rem;
        padding-left: 5px;
    }
}
