header{
    box-sizing: border-box;
    height: 80px;
    padding: 5px 20px;
    color: white;
    background-color: $primary-color;
    nav, ul{
        height: 100%;
    }
    ul{
        display: flex;
        align-items: center;
        .link-cart{
            text-align: center;
            font-size: 1.1rem;
        }
        .logo{
            flex: 1;
        }
    }
    img{
        width: 50%;
        max-width: 200px;
    }
}

// Header de la page Panier
.header-cart{
    text-align: center;
    img{
        width: inherit;
        height: 100%;
    }
}